$primary-color: rgb(0, 103, 181);
$secondary-color: rgb(113, 113, 113);
$tertiary-color: rgb(101, 33, 120);

html {
  font-size: medium;
  line-height: normal;
  font-family:
    "Segoe UI",
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    Helvetica,
    Ubuntu,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  --maxWidth: 1600px;
  --gap: 3rem;
}

button {
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  color: white;

  padding: 0.4rem 0.8rem;
  margin: 0 1rem 0 0;

  border-radius: 2px;
  border: 1px solid transparent;

  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;

  justify-content: center;
  outline: none;
  overflow: visible;
  position: relative;

  box-shadow: 0.9rem -0.35rem rgba(0, 0, 255, 0.2);

  opacity: 0.8;
  transition: opacity 80ms;

  &:hover {
    opacity: 1;
  }

  &.primary {
    background-color: $primary-color;
  }
  &.secondary {
    background-color: $secondary-color;
  }
  &.tertiary {
    background-color: $tertiary-color;
  }
}

input,
select {
  border: none;
  outline: none;
  border: 1px rgb(190, 190, 190) solid;
  border-radius: 2px;
  padding: 0.4rem 0.8rem;
  resize: none;
  text-overflow: ellipsis;
  position: relative;

  background-color: rgb(240 240 240);
}

form {
  & .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    margin: 0 0 0.4em 0;

    & > label {
      flex: 1;
    }
    & > input,
    select {
      flex: 3;
    }
  }

  & button {
    margin-top: auto;
    align-items: baseline;
  }
}

.page-wrapper {
  max-width: var(--maxWidth);
  margin: 1rem 10%;
  padding: 0 var(--gap);
}

